.promo {
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.promo__content {
  display: grid;
  grid-template-columns: 1fr 2fr;

  @include vp-1199 {
    grid-template-columns: none;
    display: flex;
    justify-content: center;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
  }
}

.promo__wrapper {
  padding: 87px 80px 85px 79px;
  color: $color-default-white;
  background-color: $color-torch-red;

  @include vp-1199 {
    padding: 50px 44px 50px 44px;
  }
}

.promo__text {
  display: grid;
  grid-auto-columns: max-content;
  grid-template-rows: 183px auto;
  column-gap: 50px;

  @include vp-1199 {
    grid-template-rows: 103px auto;
    column-gap: 26px;
  }
}

.promo__text h1 {
  margin: 0;
  max-width: 200px;
  font-family: $ff-alternative;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 2.3px;

  @include vp-1199 {
    max-width: 120px;
    font-size: 52px;
    line-height: 52px;
  }
}

.promo__text p {
  grid-column: 1/3;
  margin: 0 0 47px;
  font-size: 18px;
  line-height: 27px;

  @include vp-1199 {
    margin: 0 0 30px;
    font-size: 12px;
    line-height: 18px;
  }
}

.promo__text a {
  grid-column: 2 span;
  justify-self: center;
  padding: 24px 0;
  min-width: 342px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  border: 4px solid $color-default-white;

  @include vp-1199 {
    padding: 12px 0;
    font-size: 10px;
    line-height: 12px;
    border: 2px solid $color-default-white;
    min-width: 202px;
  }
}

.promo__date {
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: flex-end;
}


.promo__image img {
  object-fit: cover;
  height: 100%;

  @include vp-1199 {
    width: 386px;
  }

  @include vp-767 {
    width: 290px;
    height: 292px;
  }
}
