.reviews {
  position: relative;
  padding-bottom: 117px;
  width: 100%;
  max-width: 672px;
  overflow-y: hidden;

  .swiper {
    position: initial;
  }

  @include vp-1199 {
    padding-bottom: 100px;
    max-width: none;

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      left: 20px;
      top: 48.5%;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      right: 20px;
      top: 48.5%;
    }
  }

  @include vp-767 {
    padding-bottom: 30px;
    max-width: none;

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      left: -13px;
      top: 50.5%;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      right: -13px;
      top: 50.5%;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-size: 19px;
    }
  }
}

.reviews h1 {
  margin: 0 0 50px;
  text-align: center;
  font-family: $ff-alternative;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: $color-sapphire;

  @include vp-1199 {
    margin: 0 0 40px;
    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    margin: 0 0 42px;
    font-size: 32px;
    line-height: 32px;
  }
}

.reviews__swiper {
  width: 560px;

  @include vp-1199 {
    width: 565px;
  }

  @include vp-767 {
    width: 78%;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reviews__item {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 40px 1fr;
  column-gap: 28px;
  padding: 55px 62px 10px 62px;
  min-height: 242px;
  color: $color-default-white;
  background-color: $color-sapphire;

  @include vp-1199 {
    padding: 55px 64px 10px;
  }

  @include vp-767 {
    grid-template-columns: 100px 1fr;
    grid-template-rows: 78px 1fr;
    justify-content: center;
    column-gap: 0;
    row-gap: 12px;
    padding: 33px 25px 10px;
    min-height: 335px;
  }
}

.reviews__image {
  grid-column: 1/1;
  grid-row: 1/1;
  padding: 7px 0 0;

  @include vp-767 {
    justify-self: center;
  }
}

.reviews__image img {
  @include vp-767 {
    width: 68px;
    height: 68px;
  }
}

.reviews__item h2 {
  margin: 0 0 11px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;

  @include vp-767 {
    margin: 0;
    padding: 15px 0 0 0;
    line-height: 26px;
  }
}

.reviews__item p {
  grid-column: 2/3;
  margin: 0;
  font-size: 16px;
  line-height: 22px;

  @include vp-767 {
    grid-column: 1/-1;
    text-align: center;
  }
}
