.tabs__list {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto 39px;
  padding: 0;
  width: fit-content;
  list-style-type: none;

  &::after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(120, 120, 120, 0.2);
    content: "";
  }

  @include vp-1199 {
    margin: 0 auto 44px;
  }

  @include vp-767 {
    margin: 0 auto 34px;
  }
}

.tabs__item {
  position: relative;
  margin-right: 46px;

  &:last-child {
    margin: 0;
  }

  @include vp-1199 {
    margin-right: 55px;
  }

  @include vp-767 {
    margin-right: 46px;
  }

  &:hover {
    opacity: 0.7;
  }
}

.tabs__link {
  display: inline-block;
  padding: 12px 0;
  font-size: 20px;
  line-height: 30px;

  &--current {
    opacity: 1;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #d10a42;
      content: "";
    }
  }

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    padding: 2px 0 15px;
    font-size: 16px;
    line-height: 24px;
  }
}
